<section class="mb-2">
    <h1>Experiencia</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"><img src="assets/imagenes/01_A_Isologotipo_institucional_fondo_blanco.jpg" class="img-fluid" alt="isologotipo INTI"></div>
            <div class="col-8"><p id="experiencia">Instituto Nacional de Tecnología Industrial</p></div>
            <div class="col-2">
                <button class="btn btn-primary" onclick="cambiarExperiencia()">Editar</button>
            </div>
        </div>
    </div>
    
    
  </section>
