<section>
    <h1>Formación</h1>
    <div class="container-fluid">
      <div class="row">
          <div class="col-2"><img src="assets/imagenes/UBA.png" class="img-fluid" alt="logo UBA"></div>
          <div class="col-8"><p id="experiencia">Facultad de Filosofía y Letras - Universidad de Buenos Aires</p>
          <p>Licenciado y Profesor en Letras</p></div>
          <div class="col-2">
              <button class="btn btn-primary">Editar</button>
          </div>
      </div>
      <div class="row">
          <div class="col-2"><img src="assets/imagenes/ArgentinaPrograma.jpg" class="img-fluid" alt="isologotipo Argentina Programa"></div>
          <div class="col-8"><p id="experiencia">Argentina Programa</p>
          <p>Desarrollador web full-stack junior</p></div>
          <div class="col-2">
              <button class="btn btn-primary">Editar</button>
          </div>
      </div>
  </div>
  </section>