<section class="mb-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"><img src="assets/imagenes/risita.jpg" alt="Juan Millonschik" style="border-radius: 50%;" class ="img-fluid">
            </div>
            <div class="col-8">
                <h1 class="nombre">Juan Millonschik</h1>
                <p>Buenos Aires - Argentina</p>
                <p>Licenciado en Letras</p>
                <p>Desarrollador web full-stack</p>
            </div> 
            <div class="col-2">
                <button class="btn btn-primary">Editar</button>
            </div>
        </div>    
    </div>
</section>
